.header
{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}
.logincolor
{

}
/*.login-box*/
/*{*/
    /*position: relative;*/
    /*!*left:100px;*!*/
    /*top:50px;*/
/*}*/
.input
{
    width: 300px;
    height: 40px;
    border:1px solid #ccc;
    border-radius:1px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
}

.form-style
{
    display: flex;
    justify-content: center;
    align-content: center;
}
@media screen and (min-width: 1200px)
{
    .form-signin
    {
        display:block;
        width:100%!important;
    }
}
@media screen and (max-width: 400px)
{
    .form-signin
    {
        display:block;
        width:100%!important;
    }
}
@media screen and (max-width: 300px)
{
    .form-signin
    {
        display:block;
        width:100%!important;
    }
}

.form-control
{
    display:block;
    width:100%!important;
    height: 40px;
    margin-bottom: 15px;
    border-radius:1px;
}
.form-register
{
    display:block;
    width:85%!important;
    height: 40px;
    margin-bottom: 15px;
    border-radius:3px;
    background-color: #444444;
    color: white;
}
.form-login
{
    display:block;
    width:95%!important;
    height: 40px;
    margin-bottom: 15px;
    border-radius:3px;
    background-color: #444444;
    color: white;
}
.checkbox-width
{
    width: 16px;
    height: 16px;
}
.checkbox-margin
{
    margin-bottom: 5px;
    color: gray;
}
.form-test
{
    display:block;
    width:35%!important;
    height: 40px;
    margin-bottom: 15px;
    border-radius:1px;
    border:1px solid #ccc;
    padding: 10px;
}
.form-style-test
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.send-testcode
{
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    color: #101010;
}
.login-box-msg
{
  /*margin-bottom: 15px;*/
    color: #444444;
}
.time-color
{
    margin-left: 10px;
    color: #BDBEBD;
    transition: color 2s;
}
.form-register:hover,.form-register:active,.form-login:hover,.form-login:active
{
    background-color: #444444;
    border:2px solid #444444;
    color: white;
}
.mainbar
{
    width: 60%;
    margin: 50px auto;
}
.sildbar
{
    list-style: none;
}
.loginul
{
    list-style: none;
    width: 100%;
    padding-left: 0;
    text-align: center;
}
.liheight
{
    width: 60%;
    background-color: #bfbfbf;
    padding: 11px 20px;
    color: white;
    margin-bottom: 3px;
    text-align: center;
    border-radius: 3px;

}
.liheight:active
{
    background-color: #444444;
}
.tab-title-item.active{
    background-color: #444444;
    color: #fff;
}

.login-title-item.active{
    color: #444444;
    cursor: pointer;
}

.tab-content-item{
    display: none;
}
.tab-content-item.active{
    display: block;
}

.baswinfo {
    /*background-color: red;*/

}
.safeset {
    /*background-color: yellow;*/
}
.trust {
    /*background-color: blue;*/
}
.loginli
{
    color: #dddddd;
    float: left;
    width: 50%;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 40px;
   cursor: pointer;
}
.loginli:nth-child(1)
{
    border-right: 1px solid #bfbfbf;
}
.clear
{
    clear: both;
}
.forgetpwd
{
    color: #444444;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
.forgetpwd:hover,.forgetpwd:active
{
    color: #444444;
}
