.headerwidth
{
    width: 100%;
    height: 70px;
    /*position: fixed;*/
    background-color: #F8F8F8;
    /*top:0px;*/

}
.header
{
    width: 70%;
    margin: 0 auto;
    padding-top: 8px;
    font-size: 14px;
}
.input
{
    width: 300px;
    height: 40px;
    border:1px solid #ccc;
    border-radius:1px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
    background-color: #fff;
}
.inputmoney
{
    width: 40%;
    height: 40px;
    border:1px solid #ccc;
    border-radius:1px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
    background-color: #fff;
}
.form-style
{
    display: flex;
    justify-content: center;
    align-content: center;
}
@media screen and (min-width: 1200px)
{
    .form-signin
    {
        display:block;
        width:100%!important;
    }
    .mainbar
    {
        width: 60%;
        margin: 50px auto;
    }
    .sildbar,.titleul
    {
        list-style: none;
    }
    .headerul
    {
        width: 70%;
    }
}
@media screen and (max-width: 796px)
{
    .form-signin
    {
        display:block;
        width:100%!important;
    }
    .mainbar
    {
        width: 60%;
        margin: 50px auto;
    }
    .sildbar,.titleul
    {
        list-style: none;
    }
    .headerul
    {
        width: 55%;
    }
}
@media screen and (max-width: 400px)
{
    .form-signin
    {
        display:block;
        width:100%!important;
    }
    .mainbar
    {
        width: 100%;
        margin: 10px auto;
    }
    .sildbar,.titleul
    {
        list-style: none;
        padding: 0;
    }
    .headerul
    {
        width: 45%;
    }

}
@media screen and (max-width: 300px)
{
    .form-signin
    {
        display:block;
        width:100%!important;
    }
    .mainbar
    {
        width: 100%;
        margin: 10px auto;
    }
    .sildbar,.titleul
    {
        list-style: none;
        padding: 0;
    }
    .headerul
    {
        width: 35%;
    }
}

.form-control
{
    display:block;
    width:100%!important;
    height: 40px;
    margin-bottom: 15px;
    border-radius:1px;
}
.form-register
{
    display:block;
    width:85%!important;
    height: 40px;
    margin-bottom: 15px;
    border-radius:3px;
    background-color: #444444;
    color: white;
    border:1px solid #444444;

}
.form-login
{
    display:block;
    width:95%!important;
    height: 40px;
    margin-bottom: 15px;
    border-radius:3px;
    background-color: #444444;
    color: white;
}
.form-save
{
    display:block;
    width:50%!important;
    height: 40px;
    border-radius:3px;
    background-color: #444444;
    color: white;
    border:1px solid #444444;
}

.checkbox-margin
{
    margin-bottom: 5px;
    color: gray;
}
.form-test
{
    display:block;
    width:35%!important;
    height: 40px;
    margin-bottom: 15px;
    border-radius:1px;
    border:1px solid #ccc;
    padding: 10px;
}
.form-style-test
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.send-testcode
{
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    color: #101010;
}
.login-box-msg
{
    color: #444444;
}
.time-color
{
    margin-left: 10px;
    color: #BDBEBD;
    transition: color 2s;
}
.form-register:hover,.form-register:active,.form-login:hover,.form-login:active
{
    background-color: #444444;
    border:2px solid #444444;
    color: white;
}
.checkbox-width
{
    width: 16px;
    height: 16px;
}

.loginul
{
    list-style: none;
    width: 100%;
    padding-left: 0;
    text-align: center;
}
.liheight
{
    width: 60%;
    background-color: #bfbfbf;
    padding: 11px 20px;
    color: white;
    margin-bottom: 3px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}
.liheight:active
{
    background-color: #444444;
}
.tab-title-item.active{
    background-color: #444444;
    color: #fff;
    cursor: pointer;
}

.login-title-item.active{
    color: #444444;
    cursor: pointer;
}
.ad-title-item.active
{
    border-bottom: 1px solid #BBBBBB;
    cursor: pointer;
}

.tab-content-item{
    display: none;
}
.tab-content-item.active{
    display: block;
}

.baswinfo {
    /*background-color: red;*/
    height: 80%;
    margin: 0 auto;

}
.safeset {
    /*background-color: yellow;*/
}
.trust {
    /*background-color: blue;*/
}
.loginli
{
    color: #dddddd;
    float: left;
    width: 50%;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 40px;
   cursor: pointer;
}
.loginli:nth-child(1)
{
    border-right: 1px solid #bfbfbf;
}
.clear
{
    clear: both;
}
.forgetpwd
{
    color: #444444;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
.forgetpwd:hover,.forgetpwd:active
{
    color: #444444;
}
.maincontent
{
    width: 65%;
    margin: 40px auto;
}
.h2title
{
    font-weight: 400;
    margin-bottom: 40px;
}
.tipcontent
{
    color: #A6A6A6;
    margin: 20px 0 ;
    font-size: 13px;
    line-height: 11px;
}
.h4title
{
    padding-bottom: 20px;
    border-bottom: 1px solid #A6A6A6;
}
.h3title
{
    font-size: 16px;
    display: inline-block;
    margin: 20px 0;
}
.tipspan
{
    color: #A6A6A6;
    font-size: 13px;
}
.buytype
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.buytype>li
{
    float: left;
    background-color: #dddddd;
    padding: 5px 10px;
    color: white;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 13px;
    border:1px solid #BBBBBB;
}
.display
{
    display: block;
}
.slectoption
{
  width: 20%;
    height: 40px;
    background-color: #fff;
    color: grey;
}
.text-content
{
    font-size: 11px;
    padding: 0 5px;
    color: grey;
}
.form-apply,.form-apply:hover,.form-apply:active
{
    width: 20%;
    background-color: #444444;
    color: white;
    margin-top: 20px;
    border:1px solid #444444;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 80px;
}
.footer
{
    width: 100%;
    height: 55px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    /*position: relative;*/
    bottom: 0;
}
.footer-content
{
    padding: 20px 0;
    margin: 0;
}
.mainbuy
{
    width: 50%;
    margin: 40px auto;
}
.titleslect
{
    width: 13%;
    height: 40px;
    margin-right: 40px;
    margin-left: 15px;
    background-color: #fff;
    border:1px solid #BBBBBB;
    color: #BBBBBB;
}
.form-seach
{
    width: 14%;
    background-color: #444444;
    color: white;
    margin-top: 20px;
    border:1px solid #444444;
    height: 40px;
    border-radius: 3px;
}
.tableborder
{
   width: 100%;
    margin: 0 auto;
}
.bottomcontent>td
{
    color: #BBBBBB;
}
.contentborder
{
    border:1px solid #BBBBBB;
}
.contenttrust
{
    border:1px solid #dddddd;
    border-right: none;
    border-left: none;
}
.contentborder>td,.contentborder>th,.contenttrust>td,.contenttrust>th
{
    padding: 10px 0px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}
.tabletitle
{
    padding: 10px 0px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}
.tablebuy
{
   padding: 3px 15px;
    background-color: #444444;
    color: white;
    border:1px solid #444444;
    border-radius: 3px;
}
.tablebuy>a
{
    color: white;
}
.titlemargin
{
    line-height: 60px;
}
/*.title-border.active*/
/*{*/
    /*border-bottom: 1px solid grey;*/
/*}*/
.title-border
{
    float: left;
    padding: 10px 5px;
    margin-right: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}
.titleadvert
{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.buyadvert
{
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}
.detail-title
{
    width: 90%;
    margin: 0 auto;
    display: block;
    height: 140px;
    border-bottom: 2px solid #BBBBBB;
}
.detailul
{
    width: 100%;
}
.detailul,.priceul
{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.detailul>li
{
    float: left;
    width: 19%;
    margin-top: 10px;
}
.detailul>li>p
{
    text-align: center;
}
.detailul>li>p:nth-child(1)
{
    font-weight: 600;

}
.detailul>li>p:nth-child(2)
{
    color: #BBBBBB;
}
.title-img
{
    padding:0;
}
.priceul{
    margin-top: 30px;
}

.priceul>li
{
    margin: 3px 0;
    font-size: 12px;
}
.price-detail
{
    width: 90%;
    margin: 0 auto;
    display: block;
    height: 300px;
    border-bottom: 2px solid #BBBBBB;
}
.sellwhat
{
    margin: 20px 0;
}
.form-sell
{
    display:block;
    width:95%!important;
    height: 40px;
    margin-bottom: 15px;
    border-radius:3px;
    border:1px solid #444444;
    background-color: #444444;
    color: white;
}
.sellmoney
{
    margin-right: 20px;
}
.adcontent
{
    padding: 20px 0;
    border-bottom: 1px solid #BBBBBB;
}
.ad-info
{
    padding: 0;
    margin: 0;
    width: 70%;
    flex-wrap: wrap;
}
.detail-notice
{
    width: 90%;
    margin: 0 auto;
}
.detail-notice>p
{
    margin: 3px 0;
    font-size: 12px;
    flex-wrap: wrap;
}
.navdivimg
{
    display: inline-block;
}
.navimg
{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 50px;
}
.navthemis
{
    width: 110px;
    height: 30px;
    display: inline-block;
    margin-right: 50px;
}
.headerul
{
    list-style: none;
    display: inline-block;
    position: relative;
    top:20px;
    /*width: 75%;*/
}
.headerul>li
{
    margin-right: 30px;
    float: left;
}
.headerul>li>a
{
    color: black;
}
.loginlia,.registerlia
{
    float: right!important;
    display: inline-block;
}
.pagecomponent
{
    display: flex;
    justify-content: center;
    /*margin-top: 20px;*/
}
html, body{font-family:Helvetica,"Microsoft YaHei",Arial,sans-serif;}
/*table样式*/
.table-bordered {  border: 1px solid #ddd; }
.table { width: 100%;  max-width: 37%; margin-bottom: 20px; }
table { background-color: transparent; }
table { border-spacing: 0;  border-collapse: collapse; }
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd; text-align: center}
.table>thead>tr>th { vertical-align: bottom;  border-bottom: 2px solid #ddd; text-align: center}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px; line-height: 1.42857143;  vertical-align: top; border-top: 1px solid #ddd;text-align: center }
.rightDiv{float: left;    float: left; padding-left: 16px; margin-top: 1px;}
.paginationDiv {display: block; margin-top: 50px; color: #535353; line-height: 29px; text-align: center;margin-left: 52px;}
.paginationDiv a {float: left; width: 25px; height: 30px; padding: 0 7px; vertical-align: middle; text-decoration: none; cursor: pointer;}
.paginationDiv .next,.paginationDiv .prev {background-color: #f3f4f8; border: 1px solid #e5e5e5;}
.paginationDiv .next:hover,.paginationDiv .prev:hover {background-color: #ddd; border: 1px solid #ddd;}
.paginationDiv .next:before,.paginationDiv .prev:before {content: '<'; font-size: 14px }
.paginationDiv .disable.next,.paginationDiv .prev.disable {background-color: #f3f4f8; border-color: #e5e5e5; cursor: no-drop;}
.paginationDiv .disable.next:before,.paginationDiv .prev.disable:before {color: #a0a0a0;border-color: #337ab7 }
.paginationDiv .next:before {content: '>'}
.paginationDiv .num {margin-left: -1px; padding: 0 7px; border: 1px solid #e5e5e5; color: #707070 }
.paginationDiv .num.current{background-color: #337ab7; border-color: #337ab7; color: #fff }
.paginationDiv .num:hover {background-color: #ddd; border-color: #ddd; color: #1a1a1a }
.paginationDiv .ellipsis {width: 42px; height: 30px; color: #707070; line-height: 30px }
.paginationDiv input {width: 44px; height: 24px; border: 1px solid #eee; text-align: center }
.maininfo
{
    padding: 0;
    border-bottom: 1px solid #BBBBBB;
    width: 60%;
    text-align: left;
    margin-bottom: 50px;
}
.display-info
{
    display: flex;
    justify-content: center;
}
.baseinfoimg
{
    width:150px;
    height: 80px;
    display: block;
}
.inputfile
{
    display: block;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left:40px;
}
.validateinfo
{
    padding: 0;
    width: 80%;
    text-align: left;
    margin-bottom: 30px;
}
.validateinfo>ul
{
    padding-left: 0;
}
.validateinfo>ul>li
{
    margin-bottom: 5px;
    font-size: 13px;
    list-style: none;
}
.validateinfo>ul>li::before
{
    content: "*";
    margin-right: 40px;
}
.textarea-info
{
    font-size: 12px;
}
.display-save
{
    padding: 0;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.fa-exchange
{
    width: 30px;
}
